/* A dedicated stylesheet for cyberpunk-themed elements */

:root {
  --color-background: #000119;
  --stroke-width: calc(1em / 16);
  --font-size: 5rem;
  --font-weight: 700;
  --letter-spacing: calc(1em / 8);
}

.cyberpunk-font {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
}

.cyber-glitch {
  text-shadow: -6px 4px 1px rgba(198, 45, 104, 0.582);
  font-family: "Orbitron", sans-serif;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  background-image: linear-gradient(
    to right,
    #13beb9,
    #00a2ff,
    #a71af2,
    #4613bd
  );
  color: var(--color-background);
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
  margin: 0;
}
